---
layout: default
---
{% include header.html %}

<div class="list">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <div class="list-post">
        <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
          <div class="list-post-date">
            <time>{{ post.date | date_to_string }}</time>
          </div>
          <div class="list-post-title">
            {{ post.title }}
          </div>
          <div class="list-post-desc">
            {{ post.excerpt }}
            <div class="list-post-desc-more">
              <a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">
                More...
              </a>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}

    <!-- Pagination links -->
    <div class="list-pagination">
      <span class="list-pagination-previous">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Previous
          </a>
        {% endif %}
      </span>

      <span class="list-pagination-next">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
            Next
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        {% endif %}
      </span>
    </div>
  {% endif %}
</div>
